<div class="w-64 h-screen bg-blue-600 font-semibold text-white">
  <div class="h-16 flex justify-center items-center text-2xl font-semibold border-b border-dashed border-black">
    <img class="w-12" src="assets/img/chelsea-fc-2.svg" alt="">
    <span>TRUE BLUE</span>
  </div>
  <nav class="h-full px-2 py-5">

    <div class="w-full rounded-xl">
      <button class="w-full flex items-center h-8 mb-1 rounded-md text-left font-semibold px-4 hover:bg-blue-300 hover:text-gray-900">
        <i class='bx bx-grid-alt'></i>
        <span class="ml-2">Dashboard</span>
      </button>
    </div>

    <div class="w-full rounded-xl">
      <button class="w-full flex items-center h-8 mb-1 rounded-md text-left font-semibold px-4 hover:bg-blue-300 hover:text-gray-900">
        <i class='bx bx-user' ></i>
        <span class="ml-2">Quản lý tài khoản</span>
      </button>
    </div>
    
    <div class="w-full rounded-xl">
      <button class="w-full flex items-center h-8 mb-1 rounded-md text-left font-semibold px-4 hover:bg-blue-300 hover:text-gray-900">
        <i class='bx bx-pie-chart-alt-2' ></i>
        <span class="ml-2">Phân tích - thống kê</span>
      </button>
    </div>

    <div class="w-full rounded-xl">
      <button class="w-full flex items-center h-8 mb-1 rounded-md text-left font-semibold px-4 hover:bg-blue-300 hover:text-gray-900">
        <i class='bx bx-money' ></i>
        <span class="ml-2">Quản lý đơn hàng</span>
      </button>
    </div>

    <div class="w-full rounded-xl">
      <button class="w-full flex items-center h-8 mb-1 rounded-md text-left font-semibold px-4 hover:bg-blue-300 hover:text-gray-900">
        <i class='bx bx-layer'></i>
        <span class="ml-2">Quản lý sản phẩm</span>
      </button>
    </div>

    <div class="w-full rounded-xl">
      <button class="w-full flex items-center h-8 mb-1 rounded-md text-left font-semibold px-4 hover:bg-blue-300 hover:text-gray-900">
        <i class='bx bx-home-alt' ></i>
        <span class="ml-2">Quản lý kho</span>
      </button>
    </div>

    <div class="w-full rounded-xl">
      <button class="w-full flex items-center h-8 mb-1 rounded-md text-left font-semibold px-4 hover:bg-blue-300 hover:text-gray-900">
        <i class='bx bxs-discount'></i>
        <span class="ml-2">Khuyến mại</span>
      </button>
    </div>

    <div class="w-full rounded-xl">
      <button class="w-full flex items-center h-8 mb-1 rounded-md text-left font-semibold px-4 hover:bg-blue-300 hover:text-gray-900">
        <i class='bx bx-chat' ></i>
        <span class="ml-2">Chat</span>
      </button>
    </div>

  </nav>
</div>